{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if 'ROLE_ADMIN' in user.roles %}
                <span class="badge bg-primary">Administrateur</span>
            {% else %}
                <span class="badge bg-info">Utilisateur</span>
            {% endif %}
        </td>
        <td>
            {% if user.isVerified %}
                <span class="text-success"><i class="fa fa-check-circle"></i> Oui</span>
            {% else %}
                <span class="text-danger"><i class="fa fa-times-circle"></i> Non</span>
            {% endif %}
        </td>
        <td>
            <div class="btn-group">
                <a href="{{ path('app_admin_user_view', {'id': user.id}) }}" class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>
                </a>
                <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm">
                    <i class="fa fa-edit"></i>
                </a>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">
                    <i class="fa fa-trash"></i>
                </button>
                
                <!-- Modal de confirmation de suppression -->
                <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ user.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ user.id }}">Confirmer la suppression</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer l'utilisateur <strong>{{ user.fullName }}</strong> ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7" class="text-center">Aucun utilisateur correspondant aux critères de recherche</td>
    </tr>
{% endfor %} 